{% load static %}
<footer class="theme-bg-3 pt-30 p-relative z-index-1">
    <div class="ca-ft-shape p-absolute ft-shape-2">
        <img src="{% static '/img/shape/ca-footer-shape3.1.png' %}" alt="">
    </div>
    <div class="ca-cta-area p-relative z-index-1">
        <div class="container">
            <div class="ca-cta-shape3 p-absolute d-none d-lg-block">
                <img src="{% static '/img/shape/shape-1.2.png' %}" alt="">
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 mb-30">
                    <div class="ca-cta-content">
                        <h2 class="ca-section-title cta-title-1 text-white fnw-700">
                            Готовы к новым логистическим вызовам вместе с вами!
                        </h2>
                        <p class="text-white pt-16">
                            Доверьте перевозку и хранение ваших грузов профессионалам. А-ГРУПП — надёжный партнёр для бизнеса в Арктике и по всей России.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <div class="ca-btn-cta-3 text-end">
                        <a href="#" class="ca-btn-primary-3 w-bg br-50">
                            Связаться с нами
                            <span><i class="fa-solid fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="b-bottom "></div>
        </div>
    </div>
</footer>

    <div class="footer-one-line">
        <div class="footer-logo">
            <a href="#"><img src="{% static '/img/ag/logo_b.png' %}" alt="A-ГРУПП"></a>
        </div>
            <nav class="footer-links">
                <a href="#">Главная</a>
                <a href="#uslugi">Услуги</a>
                <a href="#about">О нас</a>
                <a href="#contact">Контакты</a>
            </nav>
        <div class="footer-social">
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footer-copyright text-black">
            &copy; 2025 А-ГРУПП. Все права защищены.
        </div>
    </div>

</footer>