{% extends "base.html" %}

{% block title %}Регистрация водителя{% endblock %}

{% block main %}

{% include 'partials/preloader.html' %}

<section class="row justify-content-center" style="padding-top:120px;">
    <div class="col-md-8 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="mb-4 text-center">Регистрация водителя</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
