<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock title %}

{% block main %}

{% include 'partials/preloader.html' %}

<section class="container" style="padding-top: 150px; padding-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Сброс пароля</h2>
            <p>Пожалуйста, введите ваш email, чтобы мы могли отправить вам инструкции по восстановлению пароля.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Отправить инструкцию</button>
            </form>
        </div>
    </div>
</section>

{% endblock main %}
