<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% block title %}Введите новый пароль{% endblock title %}

{% block main %}

{% include 'partials/preloader.html' %}

<section class="container" style="padding-top: 150px; padding-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Установка нового пароля</h2>
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Сохранить новый пароль</button>
                </form>
            {% else %}
                <p class="text-danger">Ссылка для сброса пароля недействительна. Возможно, она уже была использована.</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock main %}
